Birthday Wishes.json
{
  "name": "Birthday Wishes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -96
      ],
      "id": "7347683d-2e5f-4075-af44-8d01b3c7bccb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "fields": [
          "birthdays",
          "names",
          "emailAddresses"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        224,
        -96
      ],
      "id": "3e70c42e-c99b-413b-95b3-9ba410dfe0b8",
      "name": "Get many contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "YOUR_GOOGLE_CONTACT_CREDENTIALS",
          "name": "Google Contacts OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst todayMonth = today.getMonth() + 1;\nconst todayDay = today.getDate();\n\nconst birthdayContacts = [];\n\nfor (const item of $input.all()) {\n  const contact = item.json;\n\n  // Skip if no name or no birthday\n  if (!contact.names || !contact.birthdays) continue;\n\n  // Get display name\n  const name = contact.names.displayName || contact.names.givenName || \"Friend\";\n\n  // Parse birthday — format is \"M/D/YYYY\"\n  const bdayRaw = contact.birthdays;\n  const bdayParts = bdayRaw.split(\"/\");\n  if (bdayParts.length < 2) continue;\n\n  const bdayMonth = parseInt(bdayParts[0]);\n  const bdayDay = parseInt(bdayParts[1]);\n\n  if (bdayMonth !== todayMonth || bdayDay !== todayDay) continue;\n\n  // Get email — structure is emailAddresses.undefined[0]\n  let email = null;\n  if (contact.emailAddresses) {\n    const keys = Object.keys(contact.emailAddresses);\n    if (keys.length > 0) {\n      email = contact.emailAddresses[keys[0]][0];\n    }\n  }\n\n  if (!email) continue;\n\n  birthdayContacts.push({\n    json: {\n      name,\n      email,\n      birthday: `${bdayDay}/${bdayMonth}`\n    }\n  });\n}\n\nif (birthdayContacts.length === 0) {\n  return [{ json: { noBirthdays: true } }];\n}\n\nreturn birthdayContacts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -96
      ],
      "id": "5ad0084b-1332-4776-8a5f-11f67ad7fddb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce68ac49-a2d5-4c44-b9f8-55b1b62abe85",
              "leftValue": "={{ $json.noBirthdays }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -96
      ],
      "id": "335c52b6-9e8c-4e8c-8345-b41af505fcd1",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short, warm and genuine birthday wish for {{ $json.name }}. Keep it friendly, fun, 2-3 sentences max. No cringe, no over the top drama. Just a real message a good friend would send.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        -96
      ],
      "id": "2aae19fc-26cb-49c3-9f0d-f5ada720afbc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        968,
        128
      ],
      "id": "6c7c6dbc-ae96-430d-b8ae-a9ecdf3f383f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIALS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('If').item.json.email }}",
        "subject": "=🎂 Happy Birthday {{ $('If').item.json.name }}!",
        "message": "=<div style=\"font-family: Georgia, serif; max-width: 520px; margin: auto; padding: 32px; background: #f9f4ff; border-radius: 12px; border: 1px solid #d9c0f0;\">    <p style=\"font-size: 13px; color: #845ac4; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 24px;\">     🎂 Happy Birthday!   </p>    <div style=\"font-size: 16px; line-height: 1.9; color: #2c2c3d; white-space: pre-line;\">    {{ $json.output }}    </div>    <hr style=\"border: none; border-top: 1px solid #d9c0f0; margin: 28px 0;\">    <p style=\"font-size: 12px; color: #9b7ab8; text-align: right;\">     Wishing you an amazing day ✨   </p>  </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -96
      ],
      "id": "5dd9f175-ab55-4e79-a0c0-0c6042fe218d",
      "name": "Send a message",
      "webhookId": "0baf8ad3-64bf-4ef8-9ffa-61e5374bd038",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIALS",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8cfe92dc-48ed-46ba-a46b-55bc283ea74b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}