Content Idea Generator.json
{
  "name": "Content Idea Generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        72
      ],
      "id": "356e8074-6dab-4b86-9280-a08adb0699a0",
      "name": "When chat message received",
      "webhookId": "1b9cdec4-71ba-4499-8aa8-55fe22fa1956"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate 3 social media content ideas about: {{ $json.chatInput }}. Return JSON array only: \n[{\\\"title\\\": \\\"...\\\", \\\"caption\\\": \\\"...\\\", \\\"imagePrompt\\\": \\\"...\\\"}]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        72
      ],
      "id": "bb4ac07e-a310-4591-999d-f6c0715106f4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        296,
        296
      ],
      "id": "058c0a42-1707-4ba4-8ba0-110c120c1508",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIALS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json.output\nconst ideas = JSON.parse(raw);\nreturn ideas.map(idea => ({ json: idea }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        72
      ],
      "id": "09d5181c-d469-4faa-bd41-c21a5107ef7c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        72
      ],
      "id": "9947dc53-5c8d-44ba-96dd-e68f884d620f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ encodeURIComponent($json.imagePrompt) }}?width=1024&height=1024&nologo=true",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        0
      ],
      "id": "712f59be-dcac-4f30-abd3-1d488e117f5a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "name": "={{ $json.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1RSVegY8BRnrptcv10EU5e4_N_0uXt-GX",
          "mode": "list",
          "cachedResultName": "YOUR_DRIVE_NAME",
          "cachedResultUrl": "YOUR_DRIVE_URL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        72
      ],
      "id": "c81913ff-8245-4066-90c0-aeddad8ae379",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIALS",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XtZiXkAEChcKgFusux8zoYxkvLI8EJ2oQscpJRoylJo",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME",
          "cachedResultUrl": "YOUR_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME",
          "cachedResultUrl": "YOUR_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Created At": "={{ $('Upload file').item.json.createdTime }}",
            "Image link": "==IMAGE(\"{{ $json.directUrl }}\")",
            "Title": "={{ $('HTTP Request1').item.json.title }}",
            "Caption": "={{ $('HTTP Request1').item.json.caption }}",
            "Prompt": "={{ $('HTTP Request1').item.json.imagePrompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image link",
              "displayName": "Image link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        72
      ],
      "id": "02e66204-10a2-43ba-9883-6acaa48f007a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEET_CREDENTIALS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    directUrl: `https://lh3.googleusercontent.com/d/${item.json.id}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        72
      ],
      "id": "60380e6f-65fd-4e9d-ab16-de1f1f9a82f9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "> **Content Idea Generator**\n> Takes a topic from chat, uses Groq AI to generate 3 social media post ideas with image prompts, creates AI images via Pollinations, and saves everything to Google Drive & Sheets.",
        "height": 128,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -160
      ],
      "id": "e0347e0e-dd4c-46f9-a541-e3bf3eacb2f1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0207771a-99be-4292-a539-a181d9c678d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}