Daily Letter.json
{
  "name": "Daily Letter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "da6df332-cd96-4fb0-8057-4c363737e749",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.quotable.io/random?tags=love",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "84f8e718-f2dd-4a62-afdd-a0065a4fe23f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are writing a short, cute and sweet daily love letter — not dramatic or over the top, just genuine, warm and a little playful. \n\nUse this quote as subtle inspiration (you don't have to quote it directly):\n\"{{ $json.content }}\" — {{ $json.author }}\n\nRules:\n- Keep it light, sweet and cute — avoid words like \"soulmate\", \"every fiber of my being\", \"all-encompassing\"\n- 3 short paragraphs max\n- Playful and warm tone, like texting your best friend who you're also in love with\n- End with something cute, use \"Yours Pookieboo\"\n- Do NOT use any greetings like \"My love\" or \"Dearest\"\n- Just dive straight into the letter",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "d5582ea3-3514-4d7d-9fae-0aa8e4307468",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "e9bc1eb6-267d-4a6e-849f-74c42aa3558f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIALS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "TO_EMAIL_ADDRESS",
        "subject": "A little something for you today 💌",
        "message": "=<div style=\"font-family: Georgia, serif; max-width: 520px; margin: auto; padding: 32px; background: #fffaf4; border-radius: 12px; border: 1px solid #f0d9c0;\">\n\n  <p style=\"font-size: 13px; color: #c4845a; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 24px;\">\n    💌 A little note for you\n  </p>\n\n  <div style=\"font-size: 16px; line-height: 1.9; color: #3d2c2c; white-space: pre-line;\">\n    {{ $json.output }}\n  </div>\n\n  <hr style=\"border: none; border-top: 1px solid #f0d9c0; margin: 28px 0;\">\n\n  <p style=\"font-size: 12px; color: #b8967a; text-align: right;\">\n    Sent with love, every single day ✨\n  </p>\n\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "1f56d737-2881-4ff5-a545-870fd11ad24a",
      "name": "Send a message",
      "webhookId": "79599db5-610f-4499-a0be-18e9c69bdeec",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIALS",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "58d3fa57-ccd6-4441-8871-f63a3dd7a727",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}