Daily weather digest email.json
{
  "name": "Daily weather digest email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ba4d0778-d49e-4753-a19c-a39d43d7885a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=23.8103&longitude=90.4125&current=temperature_2m,weathercode,windspeed_10m&timezone=Asia%2FDhaka",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "b8816054-b151-4036-86e9-3cdae77ee948",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.current;\n\nconst weatherCodes = {\n  0: \"Clear sky ☀️\",\n  1: \"Mainly clear 🌤️\",\n  2: \"Partly cloudy ⛅\",\n  3: \"Overcast ☁️\",\n  45: \"Foggy 🌫️\",\n  48: \"Icy fog 🌫️\",\n  51: \"Light drizzle 🌦️\",\n  61: \"Slight rain 🌧️\",\n  63: \"Moderate rain 🌧️\",\n  65: \"Heavy rain 🌧️\",\n  80: \"Rain showers 🌦️\",\n  95: \"Thunderstorm ⛈️\",\n};\n\nconst condition = weatherCodes[data.weathercode] || \"Unknown conditions\";\nconst temp = data.temperature_2m;\nconst wind = data.windspeed_10m;\n\nconst subject = `☀️ Dhaka Weather Update — ${new Date().toDateString()}`;\n\nconst body = `\nGood morning! Here's your weather update for Dhaka today:\n\n🌡️ Temperature: ${temp}°C\n💨 Wind Speed: ${wind} km/h\n🌤️ Condition: ${condition}\n\nHave a great day!\n— Your n8n Weather Bot\n`;\n\nreturn [{ json: { subject, body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "6bdf3956-1b33-4dc3-9aab-4f34a3104cf8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL_HERE",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "8276077a-da11-4141-8890-a0f906cef0f5",
      "name": "Send a message",
      "webhookId": "ebf85bd2-5d91-4b11-9073-051ae8de2601",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5f9b0410-8237-49ce-ad6c-d3241367a7c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}