Daily News Digest.json
{
  "name": "Daily News Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        304
      ],
      "id": "462420c9-9407-49ec-a8b0-ff64009e7c12",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -176
      ],
      "id": "d3b37863-8d01-4ea3-ba1f-a10620adc493",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        16
      ],
      "id": "dfdb4f2b-9ba7-4d70-9a11-76aec501c627",
      "name": "BBC World"
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/science_and_environment/rss.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        208
      ],
      "id": "933827fe-dc8f-4e79-982e-8816680367d1",
      "name": "BBC Science"
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        400
      ],
      "id": "c11d0cd6-0588-45c0-bca6-cff210595721",
      "name": "Wired"
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        592
      ],
      "id": "8e80ec3e-353a-45e6-bca0-4c4d9586eaae",
      "name": "MIT Tech"
    },
    {
      "parameters": {
        "url": "https://www.aljazeera.com/xml/rss/all.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        784
      ],
      "id": "26384275-4ff8-49ec-8018-980a049da155",
      "name": "Al Jazeera"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        240
      ],
      "id": "2c576241-bce6-4a29-a86d-8f39d45589ac",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const inputs = $input.all();\n\nconst keywords = {\n  'ai': 8, 'machine learning': 8, 'deep learning': 8, 'llm': 8, 'gpt': 8,\n  'neural': 7, 'openai': 7, 'anthropic': 7, 'gemini': 7, 'claude': 7,\n  'cybersecurity': 8, 'hack': 7, 'malware': 7, 'vulnerability': 7, 'breach': 7,\n  'space': 6, 'nasa': 7, 'science': 6, 'climate': 6, 'quantum': 7,\n  'geopolitic': 7, 'war': 6, 'election': 6, 'sanctions': 6, 'diplomacy': 6,\n  'startup': 6, 'funding': 6, 'ipo': 7, 'acquisition': 6, 'tech': 5,\n};\n\nconst seen = new Set();\nconst articles = [];\n\nfor (const input of inputs) {\n  const xml = input.json.data;\n  if (!xml) continue;\n\n  const itemMatches = xml.match(/<item>([\\s\\S]*?)<\\/item>/g) || \n                      xml.match(/<entry>([\\s\\S]*?)<\\/entry>/g) || [];\n\n  for (const item of itemMatches) {\n    const title = (\n      item.match(/<title><!\\[CDATA\\[(.*?)\\]\\]><\\/title>/)?.[1] ||\n      item.match(/<title>([\\s\\S]*?)<\\/title>/)?.[1] ||\n      \"No title\"\n    ).trim();\n\n    const link = (\n      item.match(/<link>(https?:\\/\\/[^\\s<]+)<\\/link>/)?.[1] ||\n      item.match(/<link[^>]*href=\"([^\"]+)\"/)?.[1] ||\n      item.match(/<guid>(https?:\\/\\/[^\\s<]+)<\\/guid>/)?.[1] ||\n      \"No link\"\n    ).trim();\n\n    const pubDate = (\n      item.match(/<pubDate>(.*?)<\\/pubDate>/)?.[1] ||\n      item.match(/<updated>(.*?)<\\/updated>/)?.[1] ||\n      \"\"\n    ).trim();\n\n    if (seen.has(title) || title === \"No title\") continue;\n    seen.add(title);\n\n    const titleLower = title.toLowerCase();\n    let score = 1;\n    for (const [keyword, weight] of Object.entries(keywords)) {\n      if (titleLower.includes(keyword)) score += weight;\n    }\n\n    articles.push({ title, link, pubDate, score });\n  }\n}\n\narticles.sort((a, b) => b.score - a.score);\nconst top5 = articles.slice(0, 5);\n\nconst message = `📰 *Your Daily News Digest*\\n${new Date().toDateString()}\\n\\n` +\n  top5.map((a, i) => \n    `*${i + 1}. ${a.title}*\\n🔗 ${a.link}\\n⭐ Score: ${a.score}`\n  ).join('\\n\\n');\n\nreturn [{ json: { message, top5 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ],
      "id": "a53a09f8-576c-4561-b916-f28e2a762e6c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        304
      ],
      "id": "f1bfecb1-64f3-405c-b01c-a374c0a09ff6",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_ACCOUNT"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "BBC World",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hacker News",
            "type": "main",
            "index": 0
          },
          {
            "node": "BBC Science",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wired",
            "type": "main",
            "index": 0
          },
          {
            "node": "MIT Tech",
            "type": "main",
            "index": 0
          },
          {
            "node": "Al Jazeera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BBC World": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hacker News": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BBC Science": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Wired": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "MIT Tech": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Al Jazeera": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f2eeca0c-8566-4cb6-86fe-8539cba1d6cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}