Meeting Notes Agent.json
{
  "name": "Meeting Notes Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "0657a4e5-92e6-4cc5-836a-5fed67846cb3",
      "name": "When chat message received",
      "webhookId": "d15e66fd-c87b-4387-b4bf-8b273588b730"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a professional meeting documentation assistant. Your job is to transform raw, unstructured meeting notes into a clean, formal meeting summary document.\n\nReturn the output STRICTLY in the following structure:\n\n---\n\nMEETING SUMMARY\nDate: [extract from notes, or write \"Not specified\"]\nNext Meeting: [extract from notes, or write \"Not scheduled\"]\n\n---\n\nKEY DECISIONS\n- [Decision made during the meeting]\n- [Another decision, if any]\nIf none, write: \"No formal decisions recorded.\"\n\n---\n\nACTION ITEMS BY OWNER\n\n[Owner Name]\n  • [Action item] — Due: [Deadline or \"TBD\"]\n  • [Another action item if applicable]\n\n[Next Owner]\n  • [Action item] — Due: [Deadline or \"TBD\"]\n\nUnassigned\n  • [Action item] — Due: [Deadline or \"TBD\"]\n\n---\n\nRISKS & BLOCKERS\n- [Risk or blocker mentioned]\n- [Another if applicable]\nIf none, write: \"No blockers reported.\"\n\n---\n\nSUMMARY\nWrite 3–4 formal sentences summarizing the meeting's purpose, key outcomes, and next steps.\n\n---\n\nRules:\n- Use exact names, dates, and deadlines from the notes\n- Do not invent information not present in the notes\n- Keep tone professional and concise\n- Never use markdown tables\n- Never use headers with ## or # symbols\n- Use plain text only — no bold, no italics"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "b2566fb5-dd6e-4e53-bacb-aae3e5764afe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        296,
        224
      ],
      "id": "2cb3ae15-8077-47d9-babc-3712e695de75",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1sauL7PRRf5QxMBiy3QCfRJu8kh8df-9i",
        "title": "=Meeting Notes - {{ $now.format('yyyy-MM-dd HH:mm') }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "cb7885e9-acbc-4c7e-b822-be0e6b863eca",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "d02942e5-553d-4539-870d-ccb2616bb86e",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS",
          "name": "Google Docs OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7c865cbb-3606-453d-ae61-22377bc1ca6b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTNACE_ID"
  },
  "id": "",
  "tags": []
}