Product Hunt daily top 5.json
{
  "name": "Product Hunt daily top 5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -96
      ],
      "id": "2f442bb0-112f-47ae-a7d5-51689ae7ff81",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.producthunt.com/v2/api/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_ID"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{ posts(first: 5, order: VOTES) { edges { node { name tagline votesCount website url topics { edges { node { name } } } } } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -96
      ],
      "id": "2dde13ab-c76f-4c5d-811a-2e18e0d8c4eb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const edges = $input.first().json.data.posts.edges;\n\nif (!edges || edges.length === 0) {\n  return [{ json: { message: '', hasPosts: false } }];\n}\n\nconst today = new Date().toLocaleDateString('en-GB', {\n  day: '2-digit',\n  month: 'short',\n  year: 'numeric'\n});\n\nconst lines = edges.map((edge, i) => {\n  const p = edge.node;\n  const topics = p.topics.edges.map(t => t.node.name).join(', ') || 'General';\n  const emoji = ['🥇', '🥈', '🥉', '4️⃣', '5️⃣'][i];\n\n  return `${emoji} <b>${p.name}</b>\\n` +\n         `   📣 ${p.tagline}\\n` +\n         `   👍 ${p.votesCount} votes · 🏷️ ${topics}\\n` +\n         `   🔗 <a href=\"${p.url}\">View on Product Hunt</a>`;\n});\n\nconst message = `🚀 <b>Product Hunt Top 5 — ${today}</b>\\n\\n` +\n                lines.join('\\n\\n');\n\nreturn [{ json: { message, hasPosts: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -96
      ],
      "id": "27a7d865-3d09-4174-92ec-de616f5cccf0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eff76386-0ea8-4bd2-abd2-ee9080c7ecc6",
              "leftValue": "={{ $json.hasPosts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -96
      ],
      "id": "096bd7fd-2443-49e1-a75f-cd2ad58b31ab",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -96
      ],
      "id": "9576b68a-c44a-4688-8291-f7635d274fe3",
      "name": "Send a text message",
      "webhookId": "cfe0fb22-d8ae-49e3-831c-bb5681c9ec07",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3638fe04-e43d-4bb2-9727-47d40f9d422e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}