RAG AGENT (Indexing).json
{
  "name": "RAG AGENT (Indexing)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dDhXREz4Gko1q9JD3oZna4e1GTy-Wvm6",
          "mode": "list",
          "cachedResultName": "YOUR_FOLDER_NAME",
          "cachedResultUrl": "YOUR_FOLDER_LINK"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        696
      ],
      "id": "6a47bb2b-ab68-45ca-bca0-1da24cd047a3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {                                               
          "id": "YOUR_DRIVE_CREDENTIALS",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        696
      ],
      "id": "48e2042d-fbf7-458c-9b66-574e9adfa065",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        696
      ],
      "id": "90b28731-ec32-4ffe-8bc2-421f41b276c8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIALS",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.text;\nconst chunkSize = 500;\nconst overlap = 50;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += chunkSize - overlap) {\n  chunks.push({\n    json: {\n      chunk: text.slice(i, i + chunkSize),\n      chunkIndex: chunks.length,\n      source: $input.item.json.info?.Title ?? $input.item.json.info?.Subject ?? 'unknown'\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        696
      ],
      "id": "fb23af10-347e-44a8-b9aa-6376206feb53",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-agent",
          "mode": "list",
          "cachedResultName": "rag-agent"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        576,
        696
      ],
      "id": "278d20b8-4d99-4c0e-a19e-db725f7e6a41",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CREDENTIALS",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        584,
        920
      ],
      "id": "20064e31-f396-44ee-a2c7-c9322430a192",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "YOUR_COHERE_CREDENTIALS",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "text",
                "value": "=={{ $('Code in JavaScript').item.json.chunk }}"
              },
              {
                "name": "source",
                "value": "=={{ $('Code in JavaScript').item.json.source }}"
              },
              {
                "name": "chunkIndex",
                "value": "=={{ $('Code in JavaScript').item.json.chunkIndex }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        712,
        920
      ],
      "id": "df89284b-1e04-4b4e-bc0d-186cf59dca70",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "RAG Indexing Workflow\nMonitors a Google Drive folder for new PDF files. When a file is detected, it downloads and extracts the text, splits it into 500-character overlapping chunks, generates vector embeddings for each chunk using Jina AI, and stores them in Pinecone vector database with metadata. This enables semantic search and retrieval for the query workflow.\nStack: Google Drive → n8n → Jina AI (embeddings) → Pinecone (vector storage)",
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        480
      ],
      "id": "b8f87a7d-aab5-4b66-bd3b-3ef3c7ab5a73",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e212e49b-b4ac-414b-9b31-b3bca810e5dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}