Steam wishlist price drop tracker.json
{
  "name": "Steam wishlist price drop tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -16
      ],
      "id": "b0d5cfa2-3954-48eb-8889-02da9b6af2b9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://store.steampowered.com/api/appdetails?appids=1091500,3595230,3595270,2239550,2668510&cc=us&l=en&filters=price_overview",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -16
      ],
      "id": "a3522f0f-4145-4ede-9402-ca1878d3abfe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const games = [\n  { appId: '1091500', name: 'Cyberpunk 2077',       targetPrice: 20 },\n  { appId: '3595230', name: 'COD: MW2 (2022)',       targetPrice: 15 },\n  { appId: '3595270', name: 'COD: MW3 (2023)',       targetPrice: 15 },\n  { appId: '2239550', name: 'Watch Dogs Legion',     targetPrice: 10 },\n  { appId: '2668510', name: 'Red Dead Redemption 1', targetPrice: 10 },\n];\n\nconst data = $input.first().json;\nconst deals = [];\n\nfor (const game of games) {\n  const appData = data[game.appId];\n\n  if (!appData || !appData.success) continue;\n\n  const priceData = appData.data?.price_overview;\n  if (!priceData) continue;\n\n  const currentPrice  = priceData.final / 100;\n  const originalPrice = priceData.initial / 100;\n  const discount      = priceData.discount_percent;\n\n  const hitsTarget = game.targetPrice === 0\n    ? discount > 0\n    : currentPrice <= game.targetPrice;\n\n  if (hitsTarget) {\n    deals.push({\n      name: game.name,\n      currentPrice,\n      originalPrice,\n      discount,\n      targetPrice: game.targetPrice,\n      line: `🎮 *${game.name}*\\n` +\n            `   💰 ~~$${originalPrice}~~ → *$${currentPrice}*\\n` +\n            `   🏷️ ${discount}% OFF (your target: $${game.targetPrice})`\n    });\n  }\n}\n\nconst count = deals.length;\nconst lines = deals.map(d => d.line).join('\\n\\n');\n\nconst message = count > 0\n  ? `🔥 *Steam Price Alert!*\\n${count} game${count > 1 ? 's are' : ' is'} on sale:\\n\\n${lines}\\n\\n👉 [Open Steam Store](https://store.steampowered.com)`\n  : '';\n\n// Always return a valid item — use hasDeal flag to control flow after\nreturn [{ json: { message, dealCount: count, hasDeal: count > 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -16
      ],
      "id": "f70499b6-6dbc-449e-8470-837038d8cb0b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -16
      ],
      "id": "2780c4a1-947b-42fe-a244-267aedbe7e65",
      "name": "Send a text message",
      "webhookId": "d748bff7-c03f-47df-a942-b5124c948478",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8f41c229-764a-4239-be72-0aa771409404",
              "leftValue": "={{ $json.hasDeal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -16
      ],
      "id": "909fc569-cf14-4578-9f22-62c30ae7d035",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "47c169bc-7f0c-4972-9193-c2dec0ff9f58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}