Trend Spotter Agent.json
{
  "name": "Trend Spotter Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "2373d838-d2f4-41f3-93bf-ddc009b2d0ec",
      "name": "When chat message received",
      "webhookId": "5729ecc5-163b-41d0-ba2f-316d922c2149"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"YOUR_TAVILY_API-KEY\",\n  \"query\": \"trending topics {{ $json.chatInput }} 2026\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 10,\n  \"include_answer\": true,\n  \"include_raw_content\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "e5009a4b-7f74-4f77-bac4-544bce1fe1a8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results;\n\nconst formatted = results.map((r, i) => \n  `${i + 1}. ${r.title}\\n${r.content}\\nSource: ${r.url}`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    searchSummary: formatted,\n    topic: $('When chat message received').first().json.chatInput\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "6c1976d8-27e7-4d16-82ae-df21b0ed4a3d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Niche: {{ $json.topic }}\nSearch Results:{{ $json.searchSummary }}\nProvide:\\n1. Top 5 trending topics\\n2. Key insights\\n3. Content opportunities (blog, social, campaign ideas)",
        "options": {
          "systemMessage": "You are a trend analyst. Given raw search results, extract the top trending topics, key insights, and actionable content opportunities. Be concise and structured."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "a573e2d1-82c1-402b-8e7c-24e4dd3f3d1f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        744,
        224
      ],
      "id": "ec5199a5-257c-4527-a170-cf506a124a82",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIALS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    analysis:$input.first().json.output ,\n    topic: $('HTTP Request').first().json.query,\n    date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "fd29fe0d-3aad-427f-afbf-0ec3171f9301",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VtQ7Dm138q9y3luScpVPccpqMgfUqSmqVQIIY4sxJkE",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME",
          "cachedResultUrl": "YOUR_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME",
          "cachedResultUrl": "YOUR_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Topic": "={{ $json.topic }}",
            "Analysis": "={{ $json.analysis }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        0
      ],
      "id": "a5035d4b-71ea-4d37-84b5-a17a53efacdd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEET_CREDENTIALS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "Trend Spotter Agent\nTakes a niche from chat, searches the web via Tavily, uses Groq to summarize top trends and content opportunities, then logs to Google Sheets and optionally notifies via Slack.",
        "height": 112,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -160
      ],
      "id": "ba7b04bf-955f-4c61-b484-33fd62816861",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bfa8f071-e575-455f-a207-beea7033eb31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}